%btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  outline: none;
  font-family: $font-family-text;
  box-shadow: none;
  border: none;
  cursor: pointer;
  text-decoration: none;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @at-root button#{&} {
    display: block;
  }
}

%btn--blue {
  @extend %btn;
  height: 48px;
  font-size: 18px;
  background: color('blue');
  color: color('white');
  border: 0;
  border-radius: $radius;
  transition: all .2s ease-in-out;

  &:hover {
    background: color('blue-light');
  }

  &:active {
    background: color('black');
  }
}

.btn-blue {
  @extend %btn--blue;
}

%btn--outline {
  @extend %btn;
  height: 48px;
  font-size: 18px;
  background: color('white');
  color: color('blue');
  border: 1px solid rgba(0, 80, 178, 0.5);
  border-radius: $radius;
  transition: all .2s ease-in-out;

  &:hover {
    color: color('white');
    background: color('blue-light');
  }

  &:active {
    color: color('white');
    background: color('black');
  }
}

.btn-outline {
  @extend %btn--outline;
}