@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SFProDisplay-Bold.woff2') format('woff2'),
  url('../fonts/SFProDisplay-Bold.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UI 2 Regular';
  src: url('../fonts/GOST-UI-2.woff2') format('woff2'),
  url('../fonts/GOST-UI-2.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UI 2 Medium';
  src: url('../fonts/GOST-UI-2-Medium.woff2') format('woff2'),
  url('../fonts/GOST-UI-2-Medium.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UI 2 Bold';
  src: url('../fonts/GOST-UI-2-Bold.woff2') format('woff2'),
  url('../fonts/GOST-UI-2-Bold.woff') format('woff');
  font-style: normal;
  font-display: swap;
}