.container {
  width: 100%;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;

  @include mediaToDown($container-tablet) {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  @include mediaToDown($container-mobile) {
    padding: 0;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

.offset-margin {
  margin: 0 !important;
}