<section class="section-head-info container">
  <div class="head-info">
    <div class="head-info__block">
      <div class="head-info__title">
        Выдача градостроительного плана земельного участка
      </div>
      <div class="head-info__subtitle">
        Градостроительный план земельного участка выдается в целях обеспечения субъектов градостроительной
        деятельности информацией, необходимой для архитектурно&nbsp;-&nbsp;строительного проектирования, строительства,
        реконструкции объектов капитального строительства в границах земельного участка.
      </div>
    </div>
    <div class="head-info__block head-info__block-with-logo">
      <div class="head-info__logo">
        <img src="images/logo-gos.svg" alt="logo">
      </div>
      <div class="head-info__logo-info">
        <div class="head-info__logo-text">Услугу предоставляет</div>
        <div class="head-info__logo-subtext">Орган местного самоуправления</div>
      </div>
    </div>
  </div>
</section>