<html>
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="format-detection" content="date=no"/>
  <meta name="format-detection" content="address=no"/>
  <meta name="format-detection" content="email=no"/>
  <link rel="stylesheet" href="css/app.css">
  <title>Услуги и сервисы Пермского края</title>
</head>
<body>
<header>
  <div class="header">
    <div class="header__content container">
      <div class="header__block">
        <a href="/" class="header__link">
          <div class="header__logo">
            <img src="images/logo.svg" alt="">
          </div>
          <div class="header__logo-text">
            Услуги и сервисы Пермского края
          </div>
        </a>
      </div>
      <div class="header__block">
        <div class="header__user">
          <div class="header__user-name">Константинопольский К.К</div>
        </div>
        <div class="header__logout">Выйти</div>
      </div>
    </div>
  </div>
</header>