<div class="steps-form__block steps-form__success">
  <div class="steps-form__number">1</div>
  <div class="steps-form__title">Заявление принято</div>
  <div class="steps-form__content--medium">

    <div class="success-info">
      <div class="success-info__text">
        Номер заявления <span class="success-info__number">RU-1234567.</span> Максимальный срок предоставления
        услуги —&nbsp;20 рабочих дней.
        Следите за статусом заявления в&nbsp;<a href="#" class="success-info__personal">Личном&nbsp;кабинете.</a>
      </div>
      <div class="success-info__text">
        Если у вас остались вопросы по оказанию услуги, пожалуйста, обращайтесь по телефону
        <a href="tel:+73421234567" class="success-info__phone">+7 (342) 123-45-67.</a>
      </div>

      <div class="success-info__link--wrap">
        <div class="success-info__link">
          <a href="#" class="btn-blue" target="_blank">Вернуться в каталог</a>
        </div>
        <div class="success-info__link">
          <a href="#" class="btn-outline" target="_blank">Перейти в личный кабинет</a>
        </div>
      </div>
    </div>
  </div>
</div>