<div class="steps-form__block step-form__block--three steps-form__block--disabled">
  <div class="steps-form__number">3</div>
  <div class="steps-form__title">Согласие</div>
  <div class="steps-form__content">
    <ul class="pact-list">
      <li class="pact-list__item--title">
        <span>Требуется ваше согласие по следующим пунктам:</span>
      </li>
      <li class="pact-list__item">
        <span>Я подтверждаю, что вся представленная информация является достоверной и точной;</span>
      </li>
      <li class="pact-list__item">
        <span>
          Я несу ответственность в соответствии с&nbsp;действующим законодательством Российской Федерации за
          предоставление заведомо ложных или неполных сведений;
        </span>
      </li>
      <li class="pact-list__item">
        <span>
          Я выражаю свое согласие на необходимое использование и&nbsp;обработку своих персональных данных,
          в&nbsp;том числе в&nbsp;информационных системах;
        </span>
      </li>
      <li class="pact-list__item">
        <span>Со сроками оказания государственной услуги ознакомлен.</span>
      </li>
    </ul>
    <div class="form__row">
      <div class="form__checkbox">
        <input id="checkbox-confirm" class="js-checkbox-form" type="checkbox" name="checkbox-confirm" value="1">
        <label for="checkbox-confirm">
          <span class="form__checkbox-box"></span>
          <span class="form__checkbox-text">
              Я подтверждаю свое согласие со всеми вышеперечисленными пунктами
          </span>
        </label>
      </div>
    </div>

    <div class="form__row">
      <div class="form__checkbox">
        <input id="checkbox-notified" class="js-checkbox-form" type="checkbox" name="checkbox-notified" value="2" checked>
        <label for="checkbox-notified">
          <span class="form__checkbox-box"></span>
          <span class="form__checkbox-text">
              Я уведомлен о том, что результат будет получен в&nbsp;электронном виде
          </span>
        </label>
      </div>
    </div>

    <div class="notification">
      <div class="notification__text">
        Пожалуйста, еще раз внимательно проверьте все данные перед отправкой
      </div>
    </div>

    <div class="form__row">
      <button class="btn-blue js-btn-form" type="submit" disabled>Отправить</button>
    </div>
    <div class="form__row">
      <div class="rules-text">
        Нажимая кнопку «Отправить», вы соглашаетесь с
        <a href="https://lh3.googleusercontent.com/proxy/Bos4MiSbjxgyYZAm_J5wQZ1UxjoaK-3G-FnxtNAdid4tudvyAlvANbfkmFtRwP4YLfLNO2lfe6bS0w1yezg"
           target="_blank"
           rel="noopener noreferrer"
        >
          правилами хранения и&nbsp;обработки персональных данных
        </a>
      </div>
    </div>
  </div>
</div>