<div class="steps-form__block step-form__block--one">
  <div class="steps-form__number">1</div>
  <div class="steps-form__title">Выбор заявителя</div>
  <div class="steps-form__edit js-edit-step-one">
    <div class="steps-form__edit-icon">
      <img src="images/edit.svg" alt="icon">
    </div>
    <div class="steps-form__edit-text">Изменить</div>
  </div>
  <div class="steps-form__content">
    <div class="form__row">
      <div class="form__radio">
        <input id="radio-1" type="radio" name="radio" value="1" checked>
        <label for="radio-1">
          <span class="form__radio-circle"></span>
          <span class="form__radio-title">
            Константинопольский К.К.
          </span>
          <span class="form__radio-subtitle">
            Физическое лицо
          </span>
        </label>
      </div>
    </div>
    <div class="form__row">
      <div class="form__radio">
        <input id="radio-2" type="radio" name="radio" value="2">
        <label for="radio-2">
          <span class="form__radio-circle"></span>
          <span class="form__radio-title">
            ООО «Константинополь»
          </span>
          <span class="form__radio-subtitle">
            Юридическое лицо
          </span>
        </label>
      </div>
    </div>
    <div class="form__row">
      <button class="btn-blue js-btn-nex" type="button">Продолжить</button>
    </div>
  </div>
</div>